extends layout

block content
  h1= title
  p Welcome to #{title}, where you can buy all sorts of aquarium products 

  div(class="products")
    each item in item_list
      img(src="")
      div #{item.name}
      div #{item.category.name}
      div #{item.price}
      div #{item.left_in_stock}
    
    else 
      div Everything is out of stock. Oops.